.gradle/
.idx/
build/
out/
*.class
*.jar
*.apk
*.aab
*.dex
local.properties
*.keystore
*.jks
*.p8
*.p12
*.key
*.pem
*.crt
*.pfx
*.pro
*.hprof
*.orig
*.log
*.pid
*.seed
*.pid.lock
*.properties
*.swp
*.swo
*~
.DS_Store
Thumbs.db
