<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="KDE Plasma"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.MyApplication.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Plasma Settings"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".WidgetActivity"
            android:exported="true"
            android:label="Plasma Widgets"
            android:theme="@style/Theme.MyApplication" />

        <activity-alias
            android:name=".PlasmaSettings"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Plasma Settings"
            android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".PlasmaWidgets"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Plasma Widgets"
            android:targetActivity=".WidgetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

</manifest>
